.toolbar-options{
    display: flex;
}
.tool-img{
    height: 3vh;
    width: 3vw;
}
.input-tag{
    width: 90px;
    height: 30px;
}
.nav:hover {
    cursor: move;
  }
/*
.sticky {
    height: 10rem;
    width : 6rem;

    /*  */
    /* position: absolute;
    left    : 40vw;
    top     : 40vh;
} */

.nav {
    border          : 1px solid black;
    height          : 20%;
    background-color: aquamarine;
    display         : flex;
    justify-content : flex-end;
    gap             : 1rem;

}

.text-area {
    height: 80%;
    width : 100%;
}

     

.boardcan{
    display: flex;
    flex-direction: column;
}



body, html {
    margin: 0;
    padding: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #09593ee6;
}

.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background: #c1c5c1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

canvas {
    margin-top: 10vh;
    border: 1px solid black;
    align-items: center;
    background-color: #ffffff;
    
    
}

.tool {
    cursor: pointer;
}

.input-tag {
    display: none;
}

.sticky {
    position: absolute;
    background: yellow;
    padding: 10px;
    border: 1px solid black;
}

.nav {
    display: flex;
    justify-content: space-between;
    cursor: move;
}


.add1more{
    margin: auto;
    
    position: fixed;
    right: 3vw;
    color: blue;
    background-color: aquamarine;
    border-radius: 30%;
    cursor: pointer;
   
}
